<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.vant_demo_success.dao.CollectsDOMapper">

  <resultMap id="BaseResultMap" type="com.example.vant_demo_success.dataobject.CollectsDO">
    <id column="userId" jdbcType="INTEGER" property="userid" />
    <result column="collects" jdbcType="VARCHAR" property="collects" />
  </resultMap>
  <sql id="Base_Column_List">
    userId,collects
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from collects
    where userId = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectByUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from collects
    where userId = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

    delete from collects
    where userId = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.vant_demo_success.dataobject.CollectsDO">

    insert into collects (userId, collects)
    values (#{userid,jdbcType=INTEGER}, #{collects,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.vant_demo_success.dataobject.CollectsDO">

    insert into collects
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userId,
      </if>
      <if test="collects != null">
        collects,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="collects != null">
        #{collects,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="initCollects" parameterType="com.example.vant_demo_success.dataobject.CollectsDO">

    insert into collects
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userId,
      </if>
      <if test="collects != null">
        collects,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="collects != null">
        #{collects,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.example.vant_demo_success.dataobject.CollectsDO">
    update collects
    <set>
      <if test="collects != null">
        collects = #{collects,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where userId = #{userid,jdbcType=INTEGER}
  </update>
  <update id="setUserCollects">
    update collects
    <set>
      <if test="collect != null">
        collects = #{collect,jdbcType=VARCHAR},
      </if>
    </set>
    where userId = #{userId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.vant_demo_success.dataobject.CollectsDO">

    update collects
    set collects = #{collects,jdbcType=LONGVARCHAR}
    where userId = #{userid,jdbcType=INTEGER}
  </update>
</mapper>